body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}
#nameDiv{
  text-align: center;
}
#mainDivLeft{
  float: left;
  margin-left:120px;
  width:400px;
}
#eventDiv{
  float: right
}
#eventHeader{
  background-color: rgb(194, 207, 168); 
  width:400px;
  padding:30px;
}
#eventScrollDiv{
  overflow-y: auto;
  height: 220px;
}
#newServiceHeader{
  background-color: lightblue; 
  width:300px;
  padding:30px
}
#mainDivRight{
  float: right;
  margin-right:120px;
  width:800px;
}
#auditHeader{
  background-color: lightsalmon; 
  width:600px;
  padding:10px;
  margin:0px
}
#auditScrollDiv{
  overflow-y: auto;
  height: 500px;
}
table{
  margin:0px;
  padding:10px;
  width:800px;
  background-color: lightgray; 
}
#tableRow{
  background-color: rgb(241, 241, 241); 
  font-weight: normal;
  padding:4px;
}
