<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Ikechi Anya</title>
</head>
<body>
    <div id="nameDiv">
        <h3>By Ikechi Anya</h3>
    </div>
    <div id="mainDivLeft">
        <div id="eventDiv">
            <h3 id="eventHeader">
                Add events to different operations below<br/>(<i>Imitating actual services</i>)
            </h3>
            <div id="eventScrollDiv">
                {% for i in range(service.name|length) %}
                    <div>{{service.name[i]}}</div>
                    <div >
                        Details: <input type="text" id="inputDetail{{i}}"  maxlength="30">
                        <button onClick = "addServiceEvent('{{service.name[i]}}','{{i}}')" >add event</button>
                    </div>
                    <br/>
                {% endfor %}
            </div>
            
            <h2 id="newServiceHeader">
                Add new service
                <input type="text" id="serviceInput" maxlength="30">
                <br/>
                <button onClick = "addService()" >Submit</button>
            </h2>
        </div>
    </div>
    <div id="mainDivRight">
        <h3 id="auditHeader">
            Event Audit
        </h3>
        <div id="auditScrollDiv">
            <table>
                <tr>
                <th>S/N</th>
                <th>EventName</th>
                <th>EventId</th>
                <th>Details</th>
                <th>Time</th>
                </tr>
                {% for i in range(auditLog.events|length) %}
                    <tr id="tableRow">
                        <th id="tableRow">{{auditLog.events|length - i}}</th>
                        <th id="tableRow">{{auditLog.events[i]["name"]}}</th>
                        <th id="tableRow">{{auditLog.events[i]["id"]}}</th>
                        <th id="tableRow">{{auditLog.events[i]["details"]}}</th>
                        <th id="tableRow">{{auditLog.events[i]["time"]}}</th>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <script src="/static/main.js?u={{now}}">
    </script>
    <script>
        window.history.replaceState("/home", "", "home")
    </script>
</body>
</html>